@using BTL.Areas.Admin.Models
@using static BTL.Areas.Admin.Controllers.HomeAdminController;

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@*@model (List<BarChartViewModel> a,List<BarChartViewModel> a1)*@
@model MyViewModel
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.0/dist/chart.min.js"></script>
<div class="row">
    <div class="col-sm-6">

        <div class="card">
            <div class="card-header">
                Tiền cơ sở vật chất
            </div>
            <div class="card-body">
                @using (Html.BeginForm("Index", "HomeAdmin", FormMethod.Post))
                {
                    <div class="form-group">
                        <label>Năm:</label>
                        @Html.DropDownList("year", ViewBag.Years as SelectList, new { @class = "form-control", @onchange = "submit()" })
                    </div>
                }
                <canvas class="my-3 h-20" id="bar"></canvas>
                <div>
                    <label id="tongtien"></label>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-header">
                Doanh Thu
            </div>
            <div class="card-body">
                @using (Html.BeginForm("Index", "HomeAdmin", FormMethod.Post))
                {
                    <div class="form-group">
                        <label>Năm:</label>
                        @Html.DropDownList("year", ViewBag.Yearss as SelectList, new { @class = "form-control", @onchange = "submit()" })
                    </div>
                }
                <canvas class="my-3 h-20" id="bardt"></canvas>
                <div>   
                    <label id="doanhthu"> </label>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {
        renderTongtien();
        renderDoanhthu();
        scriptChartDoanhthu();
        scriptChartThongke();
    });
    function renderTongtien(){
        var str = ''
        $.ajax({
            url: `https://localhost:7186/api/apithongke/thongke`,
            method: 'GET',
            contentType: 'json',
            dataType: 'json',
            error: function (response) {
                console.log("error");
            },
            success: function (response) {
                str += `<span>Tổng tiền: ` + response.tongTien + `</span>`
                document.getElementById('tongtien').innerHTML = str;
            },
        });
    };
    function renderDoanhthu() {
        var str = ''
        $.ajax({
            url: `https://localhost:7186/api/apithongke/thongke`,
            method: 'GET',
            contentType: 'json',
            dataType: 'json',
            error: function (response) {
                console.log("error");
            },
            success: function (response) {
                str += `<span>Tổng tiền: ` + response.doanhThu + `</span>`
                document.getElementById('doanhthu').innerHTML = str;
            },
        });
    };
    function scriptChartThongke() {
        var str = '';
        $.ajax({
            url: `https://localhost:7186/api/apithongke/thongke`,
            method: 'GET',
            contentType: 'json',
            dataType: 'json',
            error: function (response) {
                console.log("error");
            },
            success: function (response) {
                var labels = response.csvcs.map(function (item) {
                    return item.Labels;
                });
                var data = response.csvcs.map(function (item) {
                    return item.Data;
                });
                var ctx = document.getElementById('bar');
                var myChart = new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: labels,
                        datasets: [{
                            label: 'Tổng tiền',
                            data: data,
                            backgroundColor: 'rgba(6,128,250)'
                        }]
                    },
                    options: {
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero: true
                                }
                            }]
                        }
                    }
                });
            },
        });
    }
    function scriptChartDoanhthu() {
        var str = '';
        $.ajax({
            url: `https://localhost:7186/api/apithongke/thongke`,
            method: 'GET',
            contentType: 'json',
            dataType: 'json',
            error: function (response) {
                console.log("error");
            },
            success: function (response) {
                var labels = response.tDoanhThus.map(function (item) {
                    return item.Labels;
                });
                var data = response.tDoanhThus.map(function (item) {
                    return item.Data;
                });
                var ctx = document.getElementById('bardt');
                var myChart = new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: labels,
                        datasets: [{
                            label: 'Tổng tiền',
                            data: data,
                            backgroundColor: 'rgba(6,128,250)'
                        }]
                    },
                    options: {
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero: true
                                }
                            }]
                        }
                    }
                });
            },
        });
    }
</script>

