@model BTL.Models.Phong
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "ThemPhong";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>ThemPhong</h1>

<h4>Phong</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" asp-action="ThemPhong">
            @*<div asp-validation-summary="None" class="text-danger"></div>*@
            <div class="form-group">
                <label asp-for="MaPhong" class="control-label"></label>
                <input asp-for="MaPhong" class="form-control" />
                <span asp-validation-for="MaPhong" class="text-danger"></span>
                <p style="color:red">@TempData["Message"]</p>
            </div>
            <div class="form-group">
                <label asp-for="TenPhong" class="control-label"></label>
                <input asp-for="TenPhong" class="form-control" />
                <span asp-validation-for="TenPhong" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TinhTrang" class="control-label"></label>
                <input asp-for="TinhTrang" class="form-control" />
                <span asp-validation-for="TinhTrang" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaLp" class="control-label"></label>
                <select asp-for="MaLp" class ="form-control" asp-items="ViewBag.MaLp"></select>
            </div>
            <div class="form-group">
                <label asp-for="Anh" class="control-label"></label>
                <input asp-for="Anh" class="form-control" />
                <span asp-validation-for="Anh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="PhongKS">Back to List</a>
</div>

